mat-card {
  width: 40%;
  margin: auto;
}

mat-form-field,
input{
  width: 90%;
  margin: auto;
}

#logoutBtn {
  position: absolute;
  right: 10px;
  margin: 0;
}

#bottomCard {
  margin-top: 30px;
}

